@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova"), url(/fonts/ProximaNova.otf) format("opentype");
}

@font-face {
  font-family: 'Boldace';
  src: local("Boldace"), url(/fonts/BoldaceBrush.otf) format("opentype");
}

@font-face {
  font-family: 'HighSpirit';
  src: local("HighSpirit"), url(/fonts/HighSpirited.ttf) format("truetype");
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #232e23;
  color: #859583;
  font-size: 1rem;
  font-family: 'Proxima Nova', sans-serif;
  line-height: 1.5;
}

body section {
  display: -ms-grid;
  display: grid;
  height: auto;
  padding: 3rem;
  place-items: center;
}

.hidden {
  display: none;
}

h1, h2, h3 {
  color: #feffff;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-transform: capitalize;
}

h1 {
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.15;
  font-weight: 700;
}

p {
  color: #859583;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
}

a {
  color: #859583;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid #feffff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #feffff;
  font-size: 1rem !important;
  text-transform: capitalize;
}

button:hover {
  background-color: #feffff;
  color: #232e23;
  letter-spacing: 3px;
}

img {
  margin: auto;
  border-radius: 15px;
}

header {
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90rem;
  width: 100%;
  padding: 1rem 4rem;
  margin: 0 auto;
}

header nav #site-title {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 1px 5px #000;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  width: 100%;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

header nav ul li:not(:first-child) {
  margin-left: 2rem;
}

header nav ul li a {
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: inherit;
  color: #fff;
  text-shadow: 0 1px 5px #000;
  text-transform: uppercase;
}

header nav ul li a::before, header nav ul li a::after {
  content: "";
  bottom: 0;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #c3a6fa;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover::before, header nav ul li a:hover::after {
  width: 50%;
}

.rounded {
  border-radius: 50px;
}

.maxWidth {
  width: 100%;
}

.frostedGlass {
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 5px #000;
}

.hero, .blogSection {
  width: 100%;
  margin: 1rem auto;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero::before {
  content: '';
  width: 100%;
  height: 100vh;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/images/about/park_by_kalecream_de1sg8k-fullview.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero .heroGradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: linear-gradient(to bottom, transparent, black);
  background-size: cover;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.hero .glassBox {
  border-radius: 5px;
  position: relative;
  text-shadow: 0 1px 5px 2px 2px 3px rgba(255, 255, 255, 0.5);
  padding: 4rem;
}

.hero .glassBox .heroText {
  padding: 1rem 2rem;
}

.hero .glassBox .heroRight {
  position: relative;
  border: solid 1px #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 5px #000;
  -webkit-clip-path: inset(10em);
          clip-path: inset(10em);
}

.hero .glassBox .heroHighlight {
  font-family: "HighSpirit";
  font-size: 5rem;
  text-shadow: 0 1px 5px #000;
  text-transform: capitalize;
  text-align: center;
  font-weight: 800;
  color: #feffff;
}

.hero .glassBox h1 {
  text-transform: uppercase;
  color: #c3a6fa;
  font-weight: 900;
  font-size: 3rem;
  text-shadow: 0 1px 5px #000;
}

.hero .glassBox h1 span::before {
  content: "Dev";
  -webkit-animation: heroWords infinite 10s;
          animation: heroWords infinite 10s;
}

.hero .glassBox .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80rem;
  place-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 50px;
  margin-top: 2rem;
  padding: 0.4rem;
}

.hero .glassBox .socialLinks a {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.hero .glassBox .socialLinks a:hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.hero .glassBox .button {
  width: 100%;
}

@-webkit-keyframes heroWords {
  0% {
    content: "Dev";
  }
  25% {
    content: "3D Artist";
  }
  50% {
    content: "Productivity";
  }
  100% {
    content: "Adulting";
  }
}

@keyframes heroWords {
  0% {
    content: "Dev";
  }
  25% {
    content: "3D Artist";
  }
  50% {
    content: "Productivity";
  }
  100% {
    content: "Adulting";
  }
}

.heroLeft, .heroRight {
  float: left;
  width: 50%;
  place-items: center;
  height: auto;
  text-align: center;
}

.blogSection a {
  color: #feffff;
}

.blogSection small {
  color: #6d7767;
}

.post-container {
  width: 100%;
  height: 100vh;
  padding: 4rem;
  margin: 3rem auto 6rem;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
  }
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav {
    padding: 1rem 2rem;
    margin: 0 auto;
  }
  header nav #site-title {
    display: block;
    position: fixed;
    left: 1rem;
    top: 1rem;
  }
  header nav .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background: #232e23;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header nav .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 25%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header nav .wrapper ul li {
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
  }
  header nav .wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  header nav .wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  header nav .wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  header nav .wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  header nav .wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  header nav .wrapper ul li a {
    padding: 1rem 2rem;
    opacity: 0;
    font-size: 1rem;
    font-weight: 600;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header nav .nav-toggle {
    display: block;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 999;
  }
  header nav .nav-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    stroke: #000;
    border-radius: 2px;
    margin-left: 14px;
  }
  header nav .nav-toggle span:nth-child(1) {
    margin-top: 16px;
  }
  header nav .nav-toggle span:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  header nav .nav-toggle span:nth-child(3) {
    margin-top: 4px;
  }
  header nav #nav:checked + .nav-toggle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header nav #nav:checked + .nav-toggle span {
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  header nav #nav:checked + .nav-toggle span:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(180deg);
            transform: translateY(6px) rotate(180deg);
  }
  header nav #nav:checked + .nav-toggle span:nth-child(2) {
    opacity: 0;
  }
  header nav #nav:checked + .nav-toggle span:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(90deg);
            transform: translateY(-6px) rotate(90deg);
  }
  header nav #nav:checked ~ .wrapper {
    z-index: 99;
    opacity: 1;
  }
  header nav #nav:checked ~ .wrapper ul li a {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .hero::before {
    -webkit-animation: none;
            animation: none;
  }
  .hero .heroLeft {
    display: none;
  }
  .hero .heroLeft, .hero .heroRight {
    width: 100%;
  }
  .hero .heroRight .heroHighlight {
    font-size: 4rem;
  }
  .hero .heroRight h1 {
    font-size: 2rem;
  }
}

/*  Extra small devices (phones, 600px and down) & Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .hero::before {
    -webkit-animation: none;
            animation: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  header nav {
    padding: 3rem 4rem;
  }
  nav ul li::before {
    content: '';
    z-index: 0;
    -webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .heroLeft {
    display: none;
  }
  .heroRight {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header nav {
    padding: 3rem 4rem;
    max-width: 98rem;
  }
}
