@font-face {
    font-family: 'Inter';
    src: url(/public/fonts/inter/Inter-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(/public/fonts/ProximaNova.otf) format(opentype);
}