//  Fonts

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: local('Proxima Nova'), url(/fonts/ProximaNova.otf) format('opentype');
}

@font-face {
  font-family: 'Boldace';
  src: local('Boldace'), url(/fonts/BoldaceBrush.otf) format('opentype');
}

@font-face {
  font-family: 'HighSpirit';
  src: local('HighSpirit'), url(/fonts/HighSpirited.ttf) format('truetype');
}

// Colours
// http://colormind.io/bootstrap/
$light-shade: #feffff;
// Use this color as the background for your dark-on-light designs, or the text color of an inverted design. 
$light-accent: #859583;
// Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette. 
$main-color: #5b945d;
// This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity. 
$dark-accent: #6d7767;
//  Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best. 
$dark-shade: #232e23;
// Use as the text color for dark-on-light designs, or as the background for inverted designs. 

$background: $dark-shade;
$paragraph: $light-accent;

$headline: #373f27;

// illustration
$stroke: $headline;
$main: $background;
$secondary: #abd1c6;
$tertiary:#e16162;

$quat: rgb(79, 113, 205);
$quat-lighter: rgb(177, 144, 240);


//shadow
$shadow-darker: rgba(#000, .75);
$shadow: rgba(#000, .5);
$shadow-lighter: rgba(#000, .35);

$inset-text-shadow: 2px 2px 3px rgba(255,255,255,0.5);

//links
$link-color: $paragraph;
$link-hover-color: #fff;

// button
$button-border: $light-shade;
$button-text: $light-shade;
$button-background: $shadow-lighter;
$button-background-hover: $light-shade;
$button-color-hover: $dark-shade;

// main
$heading-color: $light-shade;

//navigation
$site-title-color: #fff;
$site-title-stroke: #fff;
$nav-border: #fff;
$nav-link: #fff;
$nav-link-background: $shadow-lighter;
$nav-link-background-hover: $shadow;
$nav-link-hover-color: lightgreen;
$nav-link-hover-underline-color: transparent;
$nav-font-weight: 900;
$nav-menu-color: #000;

// Hero
$hero-headline: $light-shade;
$hero-secondary-headline: $quat-lighter;
$hero-paragraph: #fff;

$blur: 5px;
$shadow-opacity: 0.3;
$glass-effect: #fff;
$glass-background: $shadow;
$glass-effect-border: rgba(#fff, .1);
$glass-effect-shadow: rgba(#000, .5);

// Regular Selectors
*, *:before, *:after {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: $background;
  color: $paragraph;
  font-size: 1rem;
  font-family: 'Proxima Nova', sans-serif;
  line-height: 1.5;

  // main {
  //   width: 100vw;
  //   height: 100vh;
  //   display: flex;
  //   justify-content: center;
  //   align-content: center;
  //   flex-direction: column;
  // }
  
  & section {
    display: grid;
    height: auto;
    padding: 3rem;
    place-items: center;

      // &:nth-child(odd) {
      //   background-color: $background;
      // }
    
      // &:nth-child(even) {
      //   background-color: $secondary;
      // }
  }
}

.hidden {
  display: none;
}

h1, h2, h3 {
  color: $heading-color;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-transform: capitalize;
}

h1 {
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.15;
  font-weight: 700;
}

p {
  color: $paragraph;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
}

a {
  color: $link-color;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
      
}

button {
  margin: 1rem 0 ;
  padding: 1rem 2rem;
  display: flex;
  justify-content:center;
  border-radius: 50px;
  background-color: $button-background;
  border: 1px solid $button-border;
  box-shadow:(0 2px 5px $glass-effect-shadow);
  color: $button-text;
  font-size: 1rem !important;
  text-transform: capitalize;

  &:hover {
    background-color: $button-background-hover;
    color: $button-color-hover;
    letter-spacing: 3px;
  }
}

img {
  margin: auto;
  border-radius: 15px;
}


// Navigation
// @keyframes grow {
//   0% { transform: scale(1); }
//   50% { transform: scale(1.6);}
// }

header {
  width: 100%;

  & nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    padding: 1rem 4rem;
    margin: 0 auto;

      & #site-title {
        display: block;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 900;
        color: $site-title-color;
        text-shadow: 0 1px 5px #000;
      }

    & ul {
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-basis: auto;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
        & li {
          width: 100%;
          position: relative;
          padding: 0.5rem 1rem;
          border-radius: 50px;

          &:hover {
            background-color: $nav-link-background-hover;
            color: #fff;
          }

          &:not(:first-child) {
            margin-left: 2rem;
          }

          a {
          display: block;
          position: relative;
          font-family: inherit;
          font-size: 0.8rem;
          font-weight: $nav-font-weight;
          letter-spacing: 2px;
          line-height: inherit;
          color: $nav-link;
          text-transform: uppercase;

            &::before, &::after {
              content: "";
              bottom: 0;
              width: 0px;
              height: 2px;
              display: block;
              position: absolute;
              background-color: $nav-link-hover-underline-color;
              -webkit-transition: all 0.3s ease-in-out;
                      transition: all 0.3s ease-in-out;  
            }

            &:hover::before, &:hover::after{
              width: 50%;
            }
          }
        }
    }
  }
}

// General Class
.rounded {
  border-radius: 50px;
}

.maxWidth {
  width: 100%;
}

.frostedGlass {
  width: 100%;
  color: $glass-effect;
  background-color: $glass-background;
  border: solid 1px $glass-effect;
  box-shadow:(0 2px 5px $glass-effect-shadow);
  text-shadow: 0 1px 5px #000;
}

// Specific Classes

.hero, .blogSection {
  width: 100%;
  margin: 1rem auto;
  height: 90vh;
  display: grid;
  place-items: center;
}

.hero {
  display: flex;

  &::before {
    content: '';
    width: 100%;
    height: 100vh;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // animation: grow 60s linear .5s infinite;
    background: url(../../public/images/about/park_by_kalecream_de1sg8k-fullview.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  & .glassBox {
    border-radius: 5px;
    position: relative;
    text-shadow: 0 1px 5px $inset-text-shadow;
    // -webkit-text-stroke: 2px $glass-effect-shadow;
    // filter: drop-shadow(0, 0, 0, #000);
    padding: 4rem;

    .heroText {
      padding: 1rem 2rem;
    }

    .heroRight {
      position: relative;
      border: solid 1px $glass-effect;
      box-shadow:(0 2px 5px $glass-effect-shadow);
      text-shadow: 0 1px 5px #000;
      clip-path: inset(10em);
      // filter: blur($blur);
    }
    

    & .heroHighlight {
      // font-family: "HighSpirit";
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 800;
      color: $hero-headline;
    }

    & h1 {
      text-transform: uppercase;
      color: $hero-secondary-headline;
      font-weight: 900;
      font-size: 3rem;

      & span::before {
        content: "Dev";
        animation: heroWords infinite 10s;
      }
    }

    & .socialLinks {
      display: flex;
      max-width: 80rem;
      place-items: center;
      justify-content: space-around;
      border-radius: 50px;
      margin-top: 2rem;
      padding: 0.4rem;

        & a {
          transform: rotate(15deg);
          opacity: 75%;
        }
  
        & a:hover { 
          opacity: 100%;
          transform: rotate(-15deg);
          transition: ease-in-out 0.5s;
        }
    }
  
    .button {
      width: 100%;
    }
  }
}

@keyframes heroWords {
  0% {
    content: "Dev";
  }

  25% {
    content: "3D Artist"
  }

  50% {
    content: "Productivity"
  }

  100% {
    content: "Adulting"
  }
}

.heroLeft, .heroRight {
  float: left;
  width: 50%;
  place-items: center;
  height: auto;
  text-align: center;
}

.blogSection {
  
}

// Extra small devices 600px and below
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    // border: 1px solid red;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    & nav {
      padding: 1rem 2rem;
      margin: 0 auto;

      & #site-title {
         display: block;
         position: fixed;
         left: 1rem;
         top: 1rem;
      }

      & .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background: $background;
        transition: all 0.3s ease;

        & ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 25%;
          width: 100%;
          transform: translateY(-50%);

          & li {
            padding-bottom: 1rem;
            width: 100%;
            text-align: left;

            &:nth-child(1) a {
              transition-delay: 0.2s;
            }
            &:nth-child(2) a {
              transition-delay: 0.3s;
            }
            &:nth-child(3) a {
              transition-delay: 0.4s;
            }
            &:nth-child(4) a {
              transition-delay: 0.5s;
            }

            &:not(:first-child) {
              margin-left: 0;
            }

            a {
              padding: 1rem 2rem;
              opacity: 0;
              font-size: 1rem;
              font-weight: 600;
              transform: translateX(-20px);
              transition: all 0.3s ease-in-out;
            }
          }
        }

        
      }

      & .nav-toggle {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 999;

        & span {
          display: block;
          width: 20px;
          height: 2px;
          background: $nav-menu-color;
          stroke: #000;
          border-radius: 2px;
          margin-left: 14px;

          &:nth-child(1) {
            margin-top: 16px;
          }
          &:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
          }
          &:nth-child(3) {
            margin-top: 4px;
          }
        }
      }

      & #nav:checked + .nav-toggle {
        transform: rotate(45deg);

        span {
          background: $nav-menu-color;
          transition: transform 0.5s ease;

          &:nth-child(1) {
            transform: translateY(6px) rotate(180deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-6px) rotate(90deg);
          }
        }
      }

      & #nav:checked ~ .wrapper {
        z-index: 99;
        opacity: 1;

        & ul {
          & li {
            a {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }

  .hero {
    &::before {
      animation: none;
    }
    .heroLeft { display: none; }
    .heroLeft, .heroRight { width: 100%; }
    & .heroRight {
      & .heroHighlight {
        font-size: 1.2rem;
      } 

      &  h1 {
        font-size: 1.5rem;
      }
    }
  }

}
  

/*  Extra small devices (phones, 600px and down) & Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px){
      /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .hero {
      &::before {
        animation: none;
      }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px){
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  header{
    & nav {
      padding: 3rem 4rem;
    }
  }

  nav ul li::before {
    content: '';
    z-index: 0;
    -webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .heroLeft {
    display: none;
  }

  .heroRight {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header{
    & nav {
      padding: 3rem 4rem;
      max-width: 98rem;
    }
  }
}