//  Fonts

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: local('Proxima Nova'), url(/fonts/ProximaNova.otf) format('opentype');
}

@font-face {
  font-family: 'Boldace';
  src: local('Boldace'), url(/fonts/BoldaceBrush.otf) format('opentype');
}

@font-face {
  font-family: 'HighSpirit';
  src: local('HighSpirit'), url(/fonts/HighSpirited.ttf) format('truetype');
}

// Colors

$color-primary: #5b945d;
$color-white: #FBFAF5;
$color-black: #1D1D1D;

$color-primary-light-1: mix($color-white, $color-primary, 10%) !default; /* 53a8ff */
$color-primary-light-2: mix($color-white, $color-primary, 20%) !default; /* 66b1ff */
$color-primary-light-3: mix($color-white, $color-primary, 30%) !default; /* 79bbff */
$color-primary-light-4: mix($color-white, $color-primary, 40%) !default; /* 8cc5ff */
$color-primary-light-5: mix($color-white, $color-primary, 50%) !default; /* a0cfff */
$color-primary-light-6: mix($color-white, $color-primary, 60%) !default; /* b3d8ff */
$color-primary-light-7: mix($color-white, $color-primary, 70%) !default; /* c6e2ff */
$color-primary-light-8: mix($color-white, $color-primary, 80%) !default; /* d9ecff */
$color-primary-light-9: mix($color-white, $color-primary, 90%) !default; /* ecf5ff */

$color-primary-dark-1: mix($color-black, $color-primary, 10%) !default; /* 0f0f0f */
$color-primary-dark-2: mix($color-black, $color-primary, 20%) !default; /* 0f0f0f */
$color-primary-dark-3: mix($color-black, $color-primary, 30%) !default; /* 0f0f0f */
$color-primary-dark-4: mix($color-black, $color-primary, 40%) !default; /* 0f0f0f */
$color-primary-dark-5: mix($color-black, $color-primary, 50%) !default; /* 0f0f0f */
$color-primary-dark-6: mix($color-black, $color-primary, 60%) !default; /* 0f0f0f */
$color-primary-dark-7: mix($color-black, $color-primary, 70%) !default; /* 0f0f0f */
$color-primary-dark-8: mix($color-black, $color-primary, 80%) !default; /* 0f0f0f */
$color-primary-dark-9: mix($color-black, $color-primary, 90%) !default; /* 0f0f0f */

$color-success: #00BFA5;
$color-warning: #FF9F1C;
$color-danger: #FF5252;
$color-info: #00BFA5;

// Variables
$background: $color-white;
$paragraph: $color-black;
$heading-color: $color-primary;

$image-overlay: $color-primary;

$shadow-darker: rgba(#000, .75);
$shadow: rgba(#000, .5);
$shadow-lighter: rgba(#000, .35);

$inset-text-shadow: 2px 2px 3px $shadow;
$text-shadow-dark: 0 1px 5px #000;

$link-color: $paragraph;
$link-hover-color: $color-primary;

$button-border: $color-primary;
$button-text: $color-primary-dark-2;
$button-background: $background;
$button-background-hover: $color-primary;
$button-color-hover: $background;

  // header variables
$site-title-color: $color-white;
$site-title-stroke: $color-white;
$nav-border: $color-white;
$nav-link: #fff;
$nav-link-background: $shadow-lighter;
$nav-link-background-hover: $shadow;
$nav-link-hover-color: $color-primary;
$nav-link-hover-underline-color: $color-primary;
$nav-font-weight: 900;
$nav-menu-color: #fff;

$hero-headline: $color-primary;
$hero-subheadline: $color-primary-dark-5;
$hero-paragraph: $color-primary-light-2;
$hero-gradient: linear-gradient(to bottom, transparent 30%, rgba($color-white, 1) 100%);

$blur: 5px;
$shadow-opacity: 0.3;
$glass-effect: #fff;
$glass-background: $shadow;
$glass-effect-border: rgba(#fff, .1);
$glass-effect-shadow: rgba(#000, .5);

// Blog Section
$post-border: $color-primary;
$post-metadata: $color-primary-dark-2;


// Posts
$tags-color: $color-primary-dark-3;
$post-title: $color-primary;
$post-subtitle: $color-primary-dark-4;
$post: $color-primary-dark-4;

//footer
$footer-background: $color-primary;

// Regular Selectors
*, *:before, *:after {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: $background;
  color: $paragraph;
  font-size: 1.1rem;
  font-family: 'Proxima Nova', sans-serif;
  line-height: 1.5;

  & main {
    margin: 5% 1% 25% 1%;
  }
  
  & section {
    display: grid;
    height: auto;
    padding: 3rem;
    place-items: center;
    margin: 0 10%;

    & .sectionTitle {
      font-size: 3rem;
      color: $color-primary;
      letter-spacing: 2px;
      text-align: center;
      // text-transform: uppercase;
    }

      // &:nth-child(odd) {
      //   background-color: $background;
      // }
    
      // &:nth-child(even) {
      //   background-color: $secondary;
      // }
  }
}

article {
  padding: 0 0 10% 0;
}

.hidden {
  display: none;
}

h1, h2, h3 {
  color: $heading-color;
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  line-height: 1.15;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: $paragraph;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
}

a {
  color: $link-color;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
      
}

.button {
  margin: 3% 5%;
  width: 50%;
  border: 1px solid $button-border;
  color: $button-text;
  padding: 3%;
  text-transform: capitalize;
  background-color: $button-background;
  border-radius: 5px;
  text-align: center;

  &:hover {
    background-color: $button-background-hover;
    color: $button-color-hover;
    letter-spacing: 3px;
  }
}

img {
  margin: auto;
  border-radius: 15px;
}


// Navigation
// @keyframes grow {
//   0% { transform: scale(1); }
//   50% { transform: scale(1.6);}
// }

header {
  width: 100%;
  display: flex;
  justify-content: space-around;

  #theme-toggle {
    background: none;
    border: none;

    & > svg {
      filter: drop-shadow(3px 5px 2px $shadow);
    }
  }

  & nav {
    display: flex;
    flex-direction: row;
    flex: 2 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    padding: 0.5rem 4rem;

      & #site-title {
        display: block;
        font-family: inherit;
        font-size: 2rem;
        font-weight: 900;
        color: $site-title-color;
        text-shadow: 0 1px 5px #000;
      }

    & ul {
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-basis: auto;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
        & li {
          width: 100%;
          position: relative;
          padding: 0.5rem 1rem;
          border-radius: 50px;

          &:not(:first-child) {
            margin-left: 2rem;
          }

          a {
          display: block;
          position: relative;
          font-family: inherit;
          font-size: 0.9rem;
          font-weight: $nav-font-weight;
          letter-spacing: 2px;
          line-height: inherit;
          color: $nav-link;
          text-shadow: 0 1px 5px #000;
          text-transform: uppercase;

            &::before, &::after {
              content: "";
              bottom: 0;
              width: 0px;
              height: 2px;
              display: block;
              position: absolute;
              background-color: $nav-link-hover-underline-color;
              -webkit-transition: all 0.3s ease-in-out;
                      transition: all 0.3s ease-in-out;  
              z-index: 10;
            }

            &:hover::before, &:hover::after{
              width: 50%;
            }
          }
        }
    }
  }
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $footer-background;

  & p {
    color: $background;
    font-weight: 800;
  }

  > * {
    text-align: center;
  }
}



// General Class
.rounded {
  border-radius: 50px;
}

.maxWidth {
  width: 100%;
}

.frostedGlass {
  width: 100%;
  color: $glass-effect;
  background-color: $glass-background;
  border: solid 1px $glass-effect;
  box-shadow:(0 2px 5px $glass-effect-shadow);
  text-shadow: 0 1px 5px #000;
}

.socialLinks {
  display: flex;
  max-width: 80rem;
  place-items: center;
  justify-content: space-around;
  border-radius: 50px;
  padding: 0.4rem;

    & a {
      transform: rotate(15deg);
    }

    & a:hover { 
      transform: rotate(-15deg);
      transition: ease-in-out 0.5s;
    }
}

// Specific Classes

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  place-items: center;

  // background
  &::before {
    content: '';
    width: 100%;
    height: 100vh;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // animation: grow 60s linear .5s infinite;
    background: url(/images/about/park_by_kalecream_de1sg8k-fullview.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  // dark overlay
  & .heroGradient {
      width: 100%; height: 100%;
      position: absolute;
      top: 0; left: 0;
      background: $hero-gradient;
      background-size: cover;
      z-index: -1;
      display: flex;
      place-items: center;
  }

  .heroLeft, .heroRight {
    float: left;
    place-items: center;
    height: auto;
    text-align: center;
  }

  .heroRight {
    position: relative;
    // text-shadow: 0 1px 5px $color-black;
    display: flex;
    flex-direction: column;

    & h1 {
      text-transform: uppercase;
      color: $hero-headline;
      font-size: 4.5rem;
    }

    & h3 {
      color: $hero-subheadline;
      font-size: 1.5rem;
    }
  }
  }

.blogSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3% 0 ;

  h2 {
    width: 100%;
  }

  .blogDiv {
    display: grid;
    place-items: center;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    padding: 5% 3%;
    margin: 1%;
    border-radius: 5px;
    border: 2px solid $color-primary;
    cursor: pointer;

    &:hover {
      background: radial-gradient($background 60%, transparent, $color-primary );
      border: none;
    }

    & h3 {
      font-size: 2.5rem;
      color: $color-primary;
    }

    & h4 {
      font-size: 1.3rem;
      word-wrap: normal;
      color: $color-primary-dark-4;
    }

    & p {
      color: $color-primary-dark-9;
      opacity: 0.8;
    }
  }

  & a {
    color: $color-primary-light-4;
  }
  & small {
    color: $color-white;
    opacity: 0.6;
  }
}

// Posts
.post-container{
  padding: 4rem;
  margin: 5% auto 20% auto;
  max-width: 75rem;
  display: flex;
  flex-direction: column;

  img {
    display: flex;
    place-items: center;
  }

  & .tags-container {
    & a {
      padding-bottom: 0.2rem;
      text-transform: capitalise;
      font-size: 1rem;
      color: $tags-color;
      opacity: 0.6;
      font-weight: 900;

      &:before {
        content: "#"
      }

      &:not(:last-child)::after {
        content: ", ";
        color: $color-primary-dark-2;
      }
    } 
  }

  & .post-header {
    display: flex;
    flex-direction: column;
    place-items: center;
    
    & > * {
      margin: 0.5%;
    }

    & h1, h3 {
      text-align: center;
    }

    & h1 {
      font-size: 4rem;
      color: $post-title;
    }

    & h3 {
      font-size: 2rem;
      color: $color-primary-light-3;
    }

    & .metadata-container {
        margin: 1rem 0 ;
        color: fade-out($color-white,0.5);
        font-size: 1rem;
    }
  }

  & .post-content {

    & h1 {
      margin: 10% 0 5% 0;
        text-align: center;
        font-size: 3.5rem;
      }

    & p {
      color: $post;
      font-size: 1.2rem;
      line-height: 1.8;
    }

    & a {
      border-bottom: 1px solid;
    };

    & li {
      list-style: "🌱 ";
      list-style-position: inside;
      line-height: 1.8;
      color: $post;
    }
  }
}

.home-link {
  padding: 10% 0;
  font-size: 1.2rem;

  &::before{
    content: "🏕️  ";
  }
}


/*  Extra small devices (phones, 600px and down) & Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px){

  .post-container {
    & .post-image {
    }
  }
  
}

// 
.contact-section {
  text-align: justify;
  display: flex;
  flex-direction: column;
  place-items: center;

  & > * {
    margin: 3% 0;
  }
}

// About page
.about, .blogPostContainer {
  margin: 5% 10%;
  line-height: 1.8;
  
  p {
    font-size: 1.2rem;
  }
}

// Extra small devices 600px and below
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    // border: 1px solid red;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    & nav {
      padding: 1rem 2rem;
      margin: 0 auto;

      & #site-title {
         display: block;
         position: fixed;
         left: 1rem;
         top: 1rem;
      }

      & .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background: $background;
        transition: all 0.3s ease;

        & ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 25%;
          width: 100%;
          transform: translateY(-50%);

          & li {
            padding-bottom: 1rem;
            width: 100%;
            text-align: left;

            &:nth-child(1) a {
              transition-delay: 0.2s;
            }
            &:nth-child(2) a {
              transition-delay: 0.3s;
            }
            &:nth-child(3) a {
              transition-delay: 0.4s;
            }
            &:nth-child(4) a {
              transition-delay: 0.5s;
            }

            &:not(:first-child) {
              margin-left: 0;
            }

            a {
              padding: 1rem 2rem;
              opacity: 0;
              font-size: 1rem;
              font-weight: 600;
              transform: translateX(-20px);
              transition: all 0.3s ease-in-out;
            }
          }
        }

        
      }

      & .nav-toggle {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 999;

        & span {
          display: block;
          width: 20px;
          height: 2px;
          background: $nav-menu-color;
          stroke: #000;
          border-radius: 2px;
          margin-left: 14px;

          &:nth-child(1) {
            margin-top: 16px;
          }
          &:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
          }
          &:nth-child(3) {
            margin-top: 4px;
          }
        }
      }

      & #nav:checked + .nav-toggle {
        transform: rotate(45deg);

        span {
          background: $nav-menu-color;
          transition: transform 0.5s ease;

          &:nth-child(1) {
            transform: translateY(6px) rotate(180deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-6px) rotate(90deg);
          }
        }
      }

      & #nav:checked ~ .wrapper {
        z-index: 99;
        opacity: 1;

        & ul {
          & li {
            a {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }

  body section {
    padding: 0%;
  }

  .hero {
    &::before {
      animation: none;
    }
    .heroLeft { display: none; }
    .heroLeft, .heroRight { width: 100%; }
    & .heroRight {
      & .heroHighlight {
        font-size: 4rem;
      } 

      &  h1 {
        font-size: 2rem;
      }
    }
  }

  .blogSection{
    & .blogDiv {
      width: 100%;
      display: flex;
      flex-direction: column;

      h4 {
        display: none;
      }
      
      h3, h4, p {
        overflow-wrap: break-word;
      }
    }
  }

  .contact-section {
    margin: 0 5%;
  }

}
  

/*  Extra small devices (phones, 600px and down) & Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px){
      /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .hero {
      &::before {
        animation: none;
      }

      .socialLinks {
        margin: 0 10%;
      }
    }

    // .blogDiv {
    //   width: 48%;}

    .contact-section {
        margin: 0 5%;;
      }
      
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px){
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  header{
    // & nav {
    //   padding: 3rem 4rem;
    // }
  }

  nav ul li::before {
    content: '';
    z-index: 0;
    -webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .heroLeft {
    display: none;
  }

  .heroRight {
    width: 100%;
  }

  .socialLinks {
    margin: 0 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header{
    & nav {
      padding: 3rem 4rem;
      max-width: 98rem;
    }
  }

  .hero {
    .heroLeft, .heroRight {
      width: 50%;
    }

    & .heroHighlight {
      font-size: 10rem;
    }

    & h1 {
      font-size: 4rem;
    }
  }

  .blogDiv {
    width: 25%;
  }

  .contact-section {
    margin: 0 25%;;
  }

  .socialLinks {
    margin: 0 40%;
  }
}