
@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }

    .about__BlenderImage img {
        border-radius: 50px;
        width: 100%;
    }
  }

  .container {
      display: grid;
      margin: 0 5rem 0 5rem;
  }

  .about__image {
      display: grid;
      place-items: center;
      margin: 0 auto;
      padding: 1em;
      position: relative;
      overflow: hidden;
  }

  .about__title {
      font-size: 2rem;
  }

  .about__text {
      font-weight: 500;
      font-size: 16px;
      text-align: justify;
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }

  .about__BlenderImage img {
    border-radius: 5px;
}


  
