
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Inter', sans-serif;
  color: #212124;
  background-color: #F5F5F5;
  line-height: 1.6;
  font-size: 18px;
}
* {
  box-sizing: border-box;
}


a {
  color: #a33e9b;
  text-decoration: none;
}

a:hover {
  color: #f8aef2;
}

img {
  max-width: 100%;
  display: block;
}