.hero, .blogSection {
    width: 100%;
    margin: 3rem 0;
    height: 100vh;
}

.heroLeft, .heroRight {
    float: left;
    width: 50%;
    justify-content: center;
    align-content: center;
    height: auto;
}

.heroLeft {
    display: flex;
  }

.heroRight {
      display: grid;
  }

.heroHighlight {
    font-family: "HighSpirit";
    font-size: 7rem;
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-weight: 500;
  }

  .heroRight .heroTinyText {
      margin-top: -3rem;
    text-align: center;
    font-size: 0.8 rem;
    text-transform: uppercase;
  }

  .heroRight h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }

.socialLinks {
    display: flex;
}
.socialLinks > * {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    transform: rotate(15deg);
    font-weight: 700;
    opacity: 30%;
}

.socialLinks > a:hover { 
    opacity: 95%;
    transform: rotate(-10deg);
  }

  .button {
    width: 100%;
  }

  @media (max-width: 900px) {

    .heroLeft {
        display: none;
    }

    .hero {
        height: 50vh;
        margin-bottom: 20rem;
    }

    .heroLeft, .heroRight {
        width: 100%;
    }

    .heroHighlight {
        font-size:9vmax;
    }

    
  }

  
  @media (min-width: 900px) {
    .heroLeft {
        width: 40%;
    }

    .heroRight {
        width: 60%;
    }
  }